html {
  font-size:18px;
  font-family:Helvetica, sans-serif;

}
body {
  margin:0;
}
/* BANNER SECTION */
.banner_top {
  display:flex;
  background-color: black;
  font-size:1rem;
  color:white;
  align-items:center;
  width:100%;
  height:auto;
  margin:0;
}
.banner_top h1 {
  font-size:1rem;
  margin: 0.66rem 0.5rem;
}
.banner_top img {
  height:1.5rem;
  width:auto;
  padding: 0.5rem;
  margin-left:10%;
}
/* MAIN BANNER */
header {
  display:flex;
  background-image:url(images/moto_background.jpeg);
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  height:25rem;
  max-width:100%;
  justify-content:center;
  margin:0;
  align-items:center;

}
.banner_text {
width:20rem;
color:white;
background-color:black;
padding:2rem 3rem;
position:relative;
right:23%;
top: 2rem;
margin-left:18%;
}
.banner_text h4 {
  font-size:1rem;
  margin:0.25rem auto;
}
.banner_text h2 {
  font-size:2rem;
  margin:0;
}
/* NAV BANNER */
.navbar {
  background-color:firebrick;
}
.navbar nav{
  display:flex;
  justify-content:space-around;
  padding:0.75rem 0;
}
a {
  text-decoration:none;
  color:white;
}
a:hover {
  color:cyan;
}
/* PRODUCTS IN MAIN */
.gadgets {
  display:flex;
  justify-content:space-around;
  margin-top:3rem;
}
.product {
  width:30%;
}
.product_img {
  display:flex;
  align-items:center;
  justify-content:center;
  height:9rem;
  padding:2rem 0;
  border:4px solid black;
}
.product_img img {
  max-width:8rem;
}
.product p {
  background-color:black;
  color:white;
  Text-align:center;
  padding:0.5rem 0;
  margin:0;
}
/*LOCATIONS AND OPENING HOURS*/
.hours_location {
  display:flex;
  justify-content:space-between;
  margin:3rem 1rem;
}
.section p {
  background-color:black;
  color:white;
  padding:1rem 2rem;
}
.section {
  margin:0 0;
  width:35%;
}
/*FOOTER SECTION*/
footer {
  display:flex;
  align-items:center;
  justify-content:left;
  height:5rem;
  background-color:black;
}
.copyright {
  color:white;
  margin-left:10%;
}
/*MEDIA QUERY FOR WIDTH <1024px */
@media only screen and (max-width:1024px){
  #glasses {
    display:none;
  }
  .product {
    width:47%;
  }
  .laptop{
    display:none;
  }
  .mobile {
  }
}
/*MEDIA QUERY FOR WIDTH >1024 */

@media only screen and (min-width:1024px){
  .mobile{
    display:none;
  }
}
/* MEDIA QUERY FOR PHONE SCREENS <470px */

@media only screen and (max-width:470px){
  .banner_text {
  width:100%;
  color:white;
  background-color:black;
  padding:1rem 2rem;
  position:relative;
  top: 2rem;
  margin-left:0%;
  right:0;
  }

  header {
    display:flex;
    background-image:url(images/moto_background.jpeg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height:15rem;
    max-width:100%;
    justify-content:center;
    margin:0;
    align-items:flex-end;

  }
  .product.watch{
    display:none;
  }
  .product {
    width:90%;
  }
  .hours_location{
    display:flex;
    flex-direction:column;
  }
  .section {
    width:90%;
  }
  .section span {
    text-align:center;
  }
  footer{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .banner_text h2 {
    font-size:1.5rem;
  }
}
